{% extends 'projects/'~tmpl_base %} 

{% block project_title "Multi-representational Instructional Simulations" %} 

{% block project_inst "CREDIT" %}
{% block project_loc "Nottingham, UK" %}
{% block project_start "2000" %}
{% block project_end "2002" %}
 

{% block project_overview %}
    <div class="p">
        Many advantages are claimed for learning environments that use multiple external representations (like graphs,
        tables, animations, etc.) but research assessing their impact on learning has produced mixed results.
    </div>
    <div class="p">My main contribution to this project was to develop a simulation-based learning environment (DEMIST,
        Design Environment for Multi-representational Instructional Simulation Technology) as a research platform and
        use it for further understanding of the use of multiple representations. During the design process, particular
        attention was put on an architecture suitable for this kind of learning environment (i.e. supporting the
        authoring of models for the simulation, instruction and interaction), on the user interface, and on the
        implementation of the conceptual framework that underlies the project. The DeFT framework (Design, Functions,
        Tasks) requires an extensive and flexible manipulation of design parameters such as number of maximum or
        co-present representations, degree of support for learners' translation across representations, etc. During this
        project, I also designed, ran and analysed lab-based experiments to examine the complexity of information
        processing faced by users when learning with multiple representations.
    </div>
{% endblock %}

