{% extends 'projects/'~tmpl_base %}

{% block project_title "Experience Labs for digital health and social care" %}

{% block project_inst "Glasgow School of Art / Institute of Design Innovation" %}
{% block project_loc "Forres, Scotland" %}
{% block project_lat "57.6128241" %}
{% block project_lon "-3.5708649" %}
{% block project_start "2014" %}
{% block project_end "2015" %}


{% block project_people %}
{% endblock %}


{% block project_overview %}
    <div class="p">
        The Digital Health Institute (DHI) is a Scottish Funding Council innovation centre led
        by the University of Edinburgh and the Glasgow School of Art. At the core of the DHI
        program of work are the “Experience Labs”, a person-centred and design-driven research
        approach that provides opportunities for extreme collaboration in a safe and flexible
        environment where academics, business and civic partners can co-create and co-design
        sustainable solutions together with end-users. The environment of the “Experience Lab”
        aims to replicate real life practice allowing for the trialling of ideas through rapid
        cycles of experience. The Labs involve participants engaging in a series of activities
        such as observation, brainstorming and prototyping of ideas, placing the user at the
        centre of the design process. This process is focusing primarily on eliciting knowledge
        towards pre-technology prototypes and next steps for research and development.
    </div><div class="p">
        During the course of my work at the GSA, I led or contributed to several projects,
    using different design methods with participants in real-life scenarios: Directory App
    (mockup wireframing for the co-design of a mobile-based service directory for paramedics),
    Digital Brokering (experimenting with a mapping tool, based on Actor-Network Theory, for
    the elicitation of community-based networks of needs, services and training opportunities),
    Talking Medicines (co-design of digital content and field-trip formative evaluation of an
    Augmented-Reality medical packaging mobile app), Backpack (roleplaying and co-design of a
    boardgame for investigating the potentials of
    Personal Data Stores for MS citizens).
    </div>
{% endblock %}

{% block project_links %}
    <div data-repo="vanch3d/woz-notify"></div>
{% endblock %}