{% extends 'projects/'~tmpl_base %}

{% block project_title "Digital Health Institute" %}

{% block project_inst "Glasgow School of Art / Institute of Design Innovation" %}
{% block project_loc "Forres, Scotland" %}
{% block project_lat "57.6128241" %}
{% block project_lon "-3.5708649" %}
{% block project_start "2014" %}
{% block project_end "2015" %}


{% block project_people %}
{% endblock %}


{% block project_overview %}
    <div class="p">

    </div>
{% endblock %}

