{% extends 'projects/'~tmpl_base %} 

{% block project_title %}
	Open Learner Modelling
{% endblock %} 

{% block project_inst "LORIA" %}
{% block project_loc "Glasgow, Scotland"%}
{% block project_start "2004"%}
{% block project_end "2006"%}

{% block project_overview %}
<div class="p">	
	Student modelling has been an early research topic in Artificial
	Intelligence in Education; various techniques have been used to
	recognize and adapt to the student's behaviour and knowledge.
	Currently, the major growth directions of research are in open student
	modelling, group modelling, and the modelling of affect, attitude,
	motivation and other aspects of the student beyond that of the
	student's grasp of the content being learned.
</div><div class="p">	
	Open Learner Modelling
	(OLM), i.e., a scrutable, inspectable, and/or modifiable student model
	has been shown to improve the involvement and motivation of students,
	and also to encourage reflection on the student's own state of
	knowledge. 
</div><div class="p">	
	My contribution to the European FP6 project LeActiveMath was
	to precisely integrate an Open Learner Modelling approach into the
	web-based learning environment. Among the various tasks and scientific
	questions implied by such a collaborative project, I was particularly
	involved in three aspects of the project: 
	<ol>
		<li> the specification of an
		Extended Open Learner Model (xOLM), a multi-layered evidence-based
		model, based on a variant of Dempster-Shafer Theory (DST) and
		encompassing learners' abilities such as mathematical competency,
		affective and motivational factors, meta-cognition and misconceptions;
		<li> the design of the OLM component that support learners in exploring
		judgements made by the system, in inspecting justifications for such
		judgements and in challenging them; <li> the definition of various modes
		of visualisation of these evidence and argumentations, as well as the
		implementation of a dedicated user interface, to be deployed in the
		LeActiveMath system.</ol>
</div>	
{% endblock %}

{% block project_noslides "" %}

{% block project_people %}
    <div class="dddd" data-href="//www.linkedin.com/in/nvanlabeke"></div>
<script type="IN/MemberProfile" data-id="//www.linkedin.com/in/nvanlabeke" data-related="false" data-format="inline"></script>
<script type="IN/MemberProfile" data-id="//uk.linkedin.com/pub/paul-brna/1/493/726" data-related="false" data-format="inline"></script>
<script type="IN/MemberProfile" data-id="//mx.linkedin.com/pub/rafael-morales-gamboa/9/759/193" data-related="false" data-format="inline"></script>
{% endblock %}


