{% extends 'projects/'~tmpl_base %} 

{% block pagetile "SAFeSEA" %} 

{% block project_title %}
Supportive Automated Feedback for Short Essay Answers
{% endblock %} 

{% block project_inst "IET" %}
{% block project_loc "Milton Keynes, UK"%}
{% block project_start "2012"%}
{% block project_end "2014"%}
 

{% block project_overview %}
<div class="p">
	The SAFeSEA project, funded by the EPSRC and in partnership 
	with Oxford University, aims to provide students with automatic feedback on drafts of 
	their essays, using extractive summarization techniques for the analysis of the documents.
</div><div class="p"> 
	I am responsible for the design and implementation of the web-based learning environment 
	(openEssayist), for the integration of the summarization tools as developed by Oxford. 
</div>
{% endblock %}

{% block project_slides %}
<div class="col-sm-3">
	<div class="embed" data-href="http://www.slideshare.net/nicolasVL/openessayist-extractive-summarisation-and-formative-assessment">
		<div class="loading"><i class="fa fa-spinner fa-spin"></i></div> 
	</div>
</div>
{% endblock %}