<li>
    <a href="{{ urlFor("project.named",{'name':project.id}) }}" title="{% block pagetile %}{% endblock %}">{% block project_title %}{% endblock %}</a>
    {% if highlight %}
        <p>{{ block('project_overview')|striptags|split(" ")| slice(0,60) | join(" ") }} [...]</p>
    {% endif %}
</li>
