{% extends 'publications/pubreader.twig' %}

{% set jContainer,jLocation = "","" %}
{% if item.type=="article-journal" %}
    {% set jContainer = attribute(item, 'container-title') %}
    {% set jLocation = "#{item.volume}(#{item.issue})" %}
{% elseif item.type=="chapter" %}
    {% set jContainer = attribute(item, 'container-title') %}
{% elseif item.type=="thesis" %}
    {% set jContainer = attribute(item, 'genre') %}
    {% set jLocation = attribute(item, 'publisher') %}
{% elseif item.type=="report" %}
    {% set jContainer = attribute(item, 'genre') %}
{% else %}
    {% set jContainer = item.event %}
    {% set jLocation = attribute(item, 'publisher-place') %}
{% endif %}


{% block links %}{% endblock %}
{% block article %}
    <div class="warning">
        Paper to be added soon. Use the <a href="{{ path_for('publications.named.pdf',{'name': item.archive_location} ) }}" class="">PDF version</a> in the meantime.
        </div>


{% endblock %}
{% block figures %}{% endblock %}
