<div class="col-xs-12">
    <div class="feature-box-style3">
        <div class="feature-box-title">
            <h3>Why Us ?</h3>
        </div>
        <div class="feature-box-containt">
            <i class="fa fa-question"></i>
            <p>Cras dictum dolor sit amet risus gravida, nec tincidunt velit cursus. Etiam ultricies nunc sit amet enim aliquam, et feugiat odio placerat.</p>
        </div>
    </div>
</div>