{% extends 'site.twig' %} {% block pagetile %}{% endblock %} {% block
breadcrumb %}About This Site{% endblock %} {% block content %}
<section class="white-section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- col-md-12 -->
			<div class="col-md-12">
				<!-- section-title -->
				<div class="section-title">

					<!-- main-title -->
					<div class="main-title">
						<h2>MELON Core Features</h2>
					</div>
					<!-- /main-title -->

					<!-- description-title -->
					<div class="description-title">
						<h3>Validated HTML5, Validated CSS3 and Well Documented.</h3>
					</div>
					<!-- /description-title -->

				</div>
				<!-- /section-title -->
			</div>
			<!-- /col-md-12 -->

			<!-- presentaion -->
			<div class="presentaion">

				<!-- col-md-6 -->
				<div class="col-md-6">
					<!-- presentation-details -->
					<ul class="presentation-details">

						<!-- items -->
						
						
						<li><i class="fa fa-arrow-circle-right"></i>Slim -
							http://www.slimframework.com/</li>
						<li><i class="fa fa-arrow-circle-right"></i>Paris/Idiorm -
							http://j4mie.github.io/idiormandparis/</li>
						<li><i class="fa fa-arrow-circle-right"></i>Zotero API -
							https://www.zotero.org/support/dev/server_api/v2/start
							<ul><li><i class="fa fa-arrow-circle-right"></i>libZotero -
							https://github.com/fcheslack/libZotero</li></ul>
							</li>
							
						
						<li><i class="fa fa-arrow-circle-right"></i>SlideShare API -
							http://www.slideshare.net/developers</li>
						<!-- /items -->

					</ul>
					<!-- /presentation-details -->

				</div>
				<!-- /col-md-6 -->

				<!-- col-md-6 -->
				<div class="col-md-6">
					<!-- presentation-details -->
					<ul class="presentation-details">

						<!-- items -->
						<li><i class="fa fa-arrow-circle-right"></i>Boostrap v3.1.1 -
							http://getbootstrap.com/</li>
						<li><i class="fa fa-arrow-circle-right"></i>Design inspired by the
							MELON theme -
							https://wrapbootstrap.com/theme/melon-responsive-website-template-WB0T44866</li>
						<li><i class="fa fa-arrow-circle-right"></i>citeproc-js - http://gsl-nagoya-u.net/http/pub/citeproc-doc.html</li>
						<li><i class="fa fa-arrow-circle-right"></i>Twitter &amp; Flickr
							Feeds</li>
						<li><i class="fa fa-arrow-circle-right"></i>Working f.b. Fan
							Counter</li>
						<!-- /items -->

					</ul>
					<!-- /presentation-details -->


					<!-- More Features Button -->
					and much <a title="More Features" href="javascript:void(0)">more...</a>

				</div>
				<!-- /col-md-6 -->

			</div>
			<!-- presentaion -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</section>
{% endblock %}

