{% extends 'site.twig' %}

{% block pagedescription %}
    <h2>Nicolas Van Labeke</h2>
    <div class="subtitle">Researcher in Technology-Enhanced Learning
    </div>
{% endblock %}

{% block content %}
    <section class="white-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-widget">
                                <div class="text-widget-title">
                                    <h3>Who I am & What I do</h3>
                                </div>

                                <p>My research interests lies in the design and the evaluation of Technology-Enhanced
                                    Learning (TEL) environments. Over the last couple of years, I have conducted several
                                    research projects in various areas: Participatory Design, 3D Dynamic Geometry,
                                    (Open) Learner Modelling, Multi-Representations Learning Environments, Life-long
                                    Learning, and Auditory Perceptual Learning. I have been working in
                                    inter-disciplinary contexts, tackling some of the key questions and problems of
                                    learning technologies from a predominantly computer science perspective. Two threads
                                    characterise my research agenda: 1) the role, usage and impact of external
                                    representations in learning and, 2) transforming learning experiences into
                                    transferable knowledge.</p>

                            </div>
                        </div>



                        <div class="col-sm-6 col-lg-7">
                            <div class="text-widget">
                                <div class="text-widget-title">
                                    <h3>Recent Project</h3>
                                </div>
                                <div class="widget-containt categories">
                                    <ul>
                                        {% for projID in projects[0:1] %}
                                            {% include 'projects/content/'~projID~'.twig' with {
                                            'tmpl_base':'template.list.twig',
                                            'highlight' : loop.first
                                            } %}
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-5">
                            <div class="text-widget">
                                <div class="text-widget-title">
                                    <h3>Other Projects</h3>
                                </div>
                                <div class="widget-containt categories">
                                    <ul>
                                        {% for projID in projects[1:] %}
                                            {% include 'projects/content/'~projID~'.twig' with {
                                            'tmpl_base':'template.list.twig'
                                            } %}
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>
                            <!-- /text-widget -->

                        </div>

                        <div class="col-md-12">
                            <div class="text-widget">
                                <div class="text-widget-title">
                                    <h3>Recent Publications</h3>
                                </div>

                                <ul class="pub-tag" id="publist">

                                </ul>
                                <div class="widget-containt categories">
                                    <ul>
                                        <li><a href="{{ urlFor('publications.all') }}">See all publications</a>
                                         </ul>

                                </div>

                            </div>
                        </div>



                    </div>
                </div>



                <div class="col-md-3">

                        <ul class="team-style1">
                            <li>
                                <div class="img-cover">
                                    <img alt="member cover 5" src="/assets/images/project.png" draggable="false">
                                </div>
                                <div class="member-img">
                                    <div class="img-shine"
                                         style="top: -185px; left: -185px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0);"></div>
                                    <a title="Preview Profile" href="{{ urlFor('about.me') }}">
                                        <img alt="Nicolas Van&nbsp;Labeke head shot" src="/assets/images/nicolas.jpg"
                                             draggable="false">
                                    </a>
                                </div>

                                <div class="title-caption">
                                    <h3 class="name">Nicolas Van Labeke</h3>

                                    <p class="title">Researcher</p>
                                </div>
                            </li>


                        </ul>


                </div>
            </div>




        </div>

    </section>
    <aside class="gray-section">
        <div class="container">
            <div class="col-md-12">
                <div class="attention-box-small">
                    <h3>This site is under construction. Please come back again ...</h3>
                </div>
            </div>

        </div>
    </aside>



{% endblock %}

{% block injectCSS %}
    <style>
        .team-style1 li .img-cover {
            border: 1px solid #E4E4E4;
            max-height: 180px;
        }

    </style>
{% endblock %}
{% block injectJS %}
    <script>
        $(document).ready(function () {
            $.getJSON("{{ urlFor('api.pub.project',{name: 'all'})}}")
                    .done(function(data){
                        var _counter = 1;
                        $.each( data, function( index, value){
                            var ref = $(value.output.ref);
                            if (value.PubReader)
                            {
                                $(ref).find("span.csl-title").wrap($("<a/>",
                                        {
                                            'href': value.PubReader,
                                            'title': "Go to full text"
                                        }
                                ));
                            }
                            $(ref).append("&nbsp;[").append($(" <a/>",
                                    {
                                        'class': "refpdf",
                                        'text': "PDF",
                                        'href': value.PDF,
                                        'title': "Download the PDF"
                                    }
                            )).append("]");
                            var temp = $('<li/>', {
                                        'id': index,
                                        'data-type': value.type
                                    }).html(ref)
                                            .append($('<abbr/>', {
                                                'class': 'unapi-id',
                                                'title': value.id
                                            }))

                                    ;//.append(value.output.coins);
                            temp.appendTo('#publist');
                          return (_counter++!=3);
                        })
                    });

        });
    </script>
{% endblock %}