<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="topcontrol">
				<a href="#" title="To Top"><i class="fa fa-angle-up"></i></a>
			</div>

			<div class="footer-toogle">
			</div>

			<!-- top-footer -->
			<div class="top-footer">
			</div>
		</div>
	</div>

	<!-- copy-right -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<p>
						Copyright &copy; 2014 <a href="{{ urlFor('home') }}">Nicolas Van&nbsp;Labeke</a>
						All rights reserved!
					</p>
				</div>

				<div class="col-md-3">
					<!-- social-icons -->
					<ul class="social-icons">
                        <li><a href="https://uk.linkedin.com/in/nvanlabeke/" title="LinkedIn">
                                <i class="fa fa-linkedin"></i></a></li>
		                <li><a href="https://www.facebook.com/nicolas.vanlabeke" title="Facebook">
                                <i class="fa fa-facebook"></i></a></li>
		                <li><a href="https://www.slideshare.net/nicolasVL" title="Slideshare">
                                <i class="el-icon-slideshare"></i></a></li>
		                <li><a href="https://github.com/vanch3d" title="GitHub">
                                <i class="fa fa-github"></i></a></li>
		                <li><a href="https://www.mendeley.com/profiles/nicolas-van-labeke/" title="Mendeley">
                                <i class="nvl nvl-mendeley"></i></a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>
