<div class="col-md-12" data-type={{ publi.itemType }} data-year={{ publi.year }}>

	<!-- feature-box-style3 -->
    <div class="feature-box-style3">

	    <!-- feature-box-title -->
	    <div class="feature-box-title">
	    
	    </div><!-- /feature-box-title -->

	    <!-- feature-box-containt -->
	    <div class="feature-box-containt">
	    	<!-- icon -->
	        <i class="fa fa-file-text-o"></i>
	        {{ publi.bibContent |raw }}
		</div><!-- /feature-box-containt -->
		
		{{ publi.subContents['coins'] |raw }}

	</div><!-- /feature-box-style3 -->

</div>

