
	<!-- menu-social-icons -->
	<ul class="menu-social-icons">
		<li><a href="https://uk.linkedin.com/in/nvanlabeke/" title="LinkedIn"><i
				class="fa fa-linkedin"></i></a></li>
		<li><a href="https://github.com/vanch3d" title="GitHub"><i
						class="fa fa-github"></i></a></li>
        {# <li><a href="https://www.facebook.com/nicolas.vanlabeke" title="Facebook"><i
                class="fa fa-facebook"></i></a></li> #}
        <li><a href="https://www.slideshare.net/nicolasVL" title="Slideshare"><i
                class="el-icon-slideshare"></i></a></li>
        {# <li><a href="https://www.mendeley.com/profiles/nicolas-van-labeke/"
            title="Mendeley"><i class="nvl nvl-mendeley"></i></a></li> #}
		<li><a href="https://www.researchgate.net/profile/Nicolas_Van_Labeke"
		   title="Mendeley"><i class="nvl nvl-mendeley"></i></a></li>
	</ul>
