{% extends 'site.twig' %}


{% block injectCSS %}
{% endblock %}

{% block content %}
<span class='Z3988' title='url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=proceeding&amp;rft.atitle=Comparaison%20de%20syst%C3%A8mes%20de%20Programmation%20Logique%20Inductive%20et%20application%20%C3%A0%20la%20mod%C3%A9lisation%20d%E2%80%99un%20%C3%A9l%C3%A8ve%20en%20g%C3%A9om%C3%A9trie&amp;rft.btitle=Actes%20des%20Journ%C3%A9es%20du%20S%C3%A9minaire%20Junior%20du%20LIPN&amp;rft.place=Paris%2C%20France&amp;rft.aufirst=Nicolas&amp;rft.aulast=Van%20Labeke&amp;rft.au=Nicolas%20Van%20Labeke&amp;rft.date=1996-03-21'></span>
<span class='Z3988' title='url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adissertation&amp;rft.title=Programmation%20logique%20inductive%20et%20g%C3%A9n%C3%A9ration%20automatique%20d&apos;un%20mod%C3%A8le%20des%20croyances%20de%20l&apos;apprenant&amp;rft.inst=Universite%20Henri%20Poincare%20-%20Nancy%201%20(France)&amp;rft.degree=Master%20Thesis%20(D.E.A.)&amp;rft.aufirst=Nicolas&amp;rft.aulast=Van%20Labeke&amp;rft.au=Nicolas%20Van%20Labeke&amp;rft.date=1995-09&amp;rft.tpages=62'></span>
<span class='Z3988' title='url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=proceeding&amp;rft.atitle=Did%20I%20really%20mean%20that%3F%20Applying%20automatic%20summarisation%20techniques%20to%20formative%20feedback&amp;rft.btitle=Proceedings%20of%20the%209th%20International%20Conference%20on%20Recent%20Advances%20in%20Natural%20Language%20Processing&amp;rft.place=Hissar%2C%20Bulgaria&amp;rft.aufirst=Debora&amp;rft.aulast=Field&amp;rft.au=Debora%20Field&amp;rft.au=Stephen%20Pulman&amp;rft.au=Nicolas%20Van%20Labeke&amp;rft.au=Denise%20Whitelock&amp;rft.au=John%20T.%20E.%20Richardson&amp;rft.date=2013-09-07&amp;rft.pages=277-284&amp;rft.spage=277&amp;rft.epage=284'></span>
<abbr class="unapi unapi-id" title="42MQRSJM"></abbr>
{% endblock %}