{% extends 'site.twig' %}

{% block urltile %}About me{% endblock %}
{% block pagetile %}Researcher in TEL{% endblock %}

{% block pagedescription %}
    <h2>Nicolas Van Labeke</h2>
    <div class="subtitle">Researcher in Technology-Enhanced Learning
    </div>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a title="Home" href="{{ path_for('home') }}">Home</a></li>
        <li class="active">About me</li>
    </ol>
{% endblock %}

{% block content %}
<section class="white-section"><div class="container-fluid">



<div class="row col-md-12">

<h3>to do</h3>


</div>

</div></section>
{% endblock %}

{% block injectJS %}
<script type="text/javascript" >
    $(document).ready(function()
    {

    });
</script>
{% endblock %}
