{% extends 'projects/'~tmpl_base %} 

{% set linkedIn = [
    "//www.linkedin.com/in/mike-sharples-1633153/"
] %}
{% set gitHub = [
    "vanch3d/AuditoryGames.v2",
    "vanch3d/AuditoryGames.js"
] %}


{% block project_title %}
    Game-based Auditory Learning Environments
{% endblock %} 

{% block project_inst "LSRI & NBRUH" %}
{% block project_loc "Nottingham, UK" %}
{% block project_lat "52.938636" %}
{% block project_lon "-1.195158" %}

{% block project_start "2008-10" %}
{% block project_end "2012-03" %}

{% block project_overview %}
    <div class="p">
        <p>The project was the result of collaboration between the Learning Sciences Research Institute (LSRI) and the
            NIHR National Biomedical Research Unit in Hearing (NBRUH). The aim of the collaboration was to investigate
            how auditory perceptual learning, educational technologies and game design could be combined into an
            approach of training suitable for use by individuals outside the laboratory, e.g. on home computers, tablets
            or mobile devices.</p>

        <P>The approach I took was to re-consider how auditory training is delivered as a life-long and life-wide
            intervention, by establishing a clear distinction between auditory testing and auditory training, and
            therefore between the paradigms used in both cases <span class="cite" data-pubidx="2009.ITAG.Intrinsic"></span>. The work plan I developed focused on three
            interdependent aspects: 1) designing multiple casual games (i.e. extremely simple gameplay, short timespan
            commitment but increased impromptu return-to-task) for training on ranges of specific auditory tasks; 2)
            adapting or defining new user-centred adaptive methods suitable for this context; 3) deploying the casual
            games within an intervention-based and user-centred platform.</P>

        <P>In collaboration with one of the NBRUH team, I applied these principles for the design and evaluation of a
            game-based alternative to Auditory Discrimination Therapy (ADT) for Tinnitus. Following mostly a
            Design-Based Research approach, using participatory design, rapid and incremental prototyping, usability and
            desirability methods, as well as formative evaluations, I was responsible for the design, implementation and
            evaluation of two game-based auditory training environments, to be tested against a traditional
            computer-based system in a clinical study with tinnitus patients. The efficacy of the newly-designed games
            was considered both from an auditory learning point of view (e.g. changes in performance, improvement of
            tinnitus) and from a user engagement point of view (e.g. flow experience).</P>

        <P>The clinical study involved 60+ participants in a 6-weeks home-training intervention, using each of the three
            games in a randomised controlled sequence. I was in charge of configuring and introducing the training
            equipment to participants, running semi-structured interviews on desirability and usability at 3 visit
            points during the intervention, and analysing the participants’ engagement with each of the three games.</P>
    </div>
{% endblock %}

