{% extends 'projects/'~tmpl_base %}

{% set linkedIn = [
] %}
{% set gitHub = [
    "vanch3d/slim-mypal"
] %}


{% block project_title "myPAL - Learning Analytics for personalised feedback" %}

{% block project_inst "Leeds Institute of Medical Education" %}
{% block project_loc "Leeds, UK" %}
{% block project_lat "53.8036394" %}
{% block project_lon "-1.5550608" %}
{% block project_start "2016" %}
{% block project_end "2017" %}


{% block project_people %}
{% endblock %}


{% block project_overview %}
    <div class="p">
        The Leeds Institute of Medical Education (LIME) within the School of Medicine have
        seen a growing use of Technology Enhanced Learning for the last 5 years, with over
        3000 students using mobile devices as part of their undergraduate medical education.
        The project aimed at exploiting this achievement further by delivering personalised
        feedback on learning and assessment to live cohorts, as well as supporting building
        capacity in TEL across the Faculty.
    </div>
{% endblock %}

