{% extends 'projects/'~tmpl_base %} 

{% set linkedIn = [
] %}
{% set gitHub = [
    "vanch3d/l4all-v4"
] %}


{% block project_title %}
    Personalisation in Lifelong Learning Environments
{% endblock %} 

{% block project_inst "London Knowledge Lab" %}
{% block project_loc "London, UK" %}
{% block project_lat "51.52162" %}
{% block project_lon "-0.117714" %}

{% block project_start "2007-04" %}
{% block project_end "2008-09" %}
 
{% block project_overview %}
    <div class="p">
        <p>The JISC-funded MyPlan project has targeted the independent lifelong learner by creating a web-based system
            that allows users to record and share their learning pathways, i.e. the record of every educational and
            personal life episodes that are seen as having an impact on their development.</p>

        <p>My responsibility in the second phase of the project was to develop functionalities for the personalised
            creation, searching and recommendations of learning pathways through courses and modules in Further and
            Higher Education. It involved the adaptation of techniques for user profiling and similarity matching of
            user pathways, specifically the use of string metrics.</p>

        <p>I was responsible for designing and running evaluations of the system (both usability and formative
            evaluation) as well as making recommendations for the definition of metadata specific to this particular
            context. A significant part of the project was dedicated to the redesign of the web-based user interface, in
            particular to support the visualisation of the pathways (using a timeline approach), their manipulation and
            comparison with those of other participants.</p>
    </div>
{% endblock %}