<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Level Push Menu - Demo 2</title>
    <meta name="description" content="Multi-Level Push Menu: Off-screen navigation with multiple levels" />
    <meta name="keywords" content="multi-level, menu, navigation, off-canvas, off-screen, mobile, levels, nested, transform" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/plugins/MultiLevelPushMenu/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/MultiLevelPushMenu/css/component.css" />
    <script src="/plugins/MultiLevelPushMenu/js/modernizr.custom.js"></script>
    <style>


        .mp-level
        { background-color: white;}


    </style>
</head>
<body>
<div class="mp-container">

<ul class="gn-menu-main" id="gn-menu">
    <!-- trigger -->
    <li class="gn-trigger">
        <a href="#" id="trigger" class="menu-trigger"> <i class="fa fa-bars"></i></a>

    </li>

    <!-- logo -->
    <li class="logo">
        <h1><a title="Nicolas Van Labeke" href="/"> <span class="base-color">N</span>VL
            </a></h1>

        <!-- page-title -->
    </li><li class="page-title"><h2>Not Found</h2></li>

    <!-- #menu-social-icons -->

    <li id="menu-social-icons">
        <!-- menu-social-icons -->
        <ul class="menu-social-icons">
            <li><a title="LinkedIn" href="https://uk.linkedin.com/in/nvanlabeke/"><i class="fa fa-linkedin"></i></a></li>
            <li><a title="Facebook" href="https://www.facebook.com/nicolas.vanlabeke"><i class="fa fa-facebook"></i></a></li>
            <li><a title="Slideshare" href="https://www.slideshare.net/nicolasVL"><i class="el-icon-slideshare"></i></a></li>
            <li><a title="GitHub" href="https://github.com/vanch3d"><i class="fa fa-github"></i></a></li>
            <li><a title="Mendeley" href="https://www.mendeley.com/profiles/nicolas-van-labeke/"><i class="nvl nvl-mendeley"></i></a></li>
        </ul>
    </li>

</ul>
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">

                <h2 class="icon icon-world">All Categories</h2>
                <ul>
                    <li><a href="{{ urlFor('home') }}" title="Home"><i class="fa fa-home"></i>Home</a></li>
                    <li class="icon icon-arrow-left">
                        <a class="icon icon-display" href="#">Devices</a>
                        <div class="mp-level">
                            <h2 class="icon icon-display">Devices</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="icon icon-arrow-left">
                                    <a class="icon icon-phone" href="#">Mobile Phones</a>
                                    <div class="mp-level">
                                        <h2>Mobile Phones</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Super Smart Phone</a></li>
                                            <li><a href="#">Thin Magic Mobile</a></li>
                                            <li><a href="#">Performance Crusher</a></li>
                                            <li><a href="#">Futuristic Experience</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="icon icon-arrow-left">
                                    <a class="icon icon-tv" href="#">Televisions</a>
                                    <div class="mp-level">
                                        <h2>Televisions</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Flat Superscreen</a></li>
                                            <li><a href="#">Gigantic LED</a></li>
                                            <li><a href="#">Power Eater</a></li>
                                            <li><a href="#">3D Experience</a></li>
                                            <li><a href="#">Classic Comfort</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="icon icon-arrow-left">
                                    <a class="icon icon-camera" href="#">Cameras</a>
                                    <div class="mp-level">
                                        <h2>Cameras</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Smart Shot</a></li>
                                            <li><a href="#">Power Shooter</a></li>
                                            <li><a href="#">Easy Photo Maker</a></li>
                                            <li><a href="#">Super Pixel</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="icon icon-arrow-left">
                        <a class="icon icon-news" href="#">Magazines</a>
                        <div class="mp-level">
                            <h2 class="icon icon-news">Magazines</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="#">National Geographic</a></li>
                                <li><a href="#">Scientific American</a></li>
                                <li><a href="#">The Spectator</a></li>
                                <li><a href="#">The Rambler</a></li>
                                <li><a href="#">Physics World</a></li>
                                <li><a href="#">The New Scientist</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="icon icon-arrow-left">
                        <a class="icon icon-shop" href="#">Store</a>
                        <div class="mp-level">
                            <h2 class="icon icon-shop">Store</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="icon icon-arrow-left">
                                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                                    <div class="mp-level">
                                        <h2 class="icon icon-t-shirt">Clothes</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li class="icon icon-arrow-left">
                                                <a class="icon icon-female" href="#">Women's Clothing</a>
                                                <div class="mp-level">
                                                    <h2 class="icon icon-female">Women's Clothing</h2>
                                                    <a class="mp-back" href="#">back</a>
                                                    <ul>
                                                        <li><a href="#">Tops</a></li>
                                                        <li><a href="#">Dresses</a></li>
                                                        <li><a href="#">Trousers</a></li>
                                                        <li><a href="#">Shoes</a></li>
                                                        <li><a href="#">Sale</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="icon icon-arrow-left">
                                                <a class="icon icon-male" href="#">Men's Clothing</a>
                                                <div class="mp-level">
                                                    <h2 class="icon icon-male">Men's Clothing</h2>
                                                    <a class="mp-back" href="#">back</a>
                                                    <ul>
                                                        <li><a href="#">Shirts</a></li>
                                                        <li><a href="#">Trousers</a></li>
                                                        <li><a href="#">Shoes</a></li>
                                                        <li><a href="#">Sale</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="icon icon-diamond" href="#">Jewelry</a>
                                </li>
                                <li>
                                    <a class="icon icon-music" href="#">Music</a>
                                </li>
                                <li>
                                    <a class="icon icon-food" href="#">Grocery</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="icon icon-photo" href="#">Collections</a></li>
                    <li><a class="icon icon-wallet" href="#">Credits</a></li>
                </ul>

            </div>
        </nav>
        <!-- /mp-menu -->



        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <!-- Top Navigation -->
                <div class="codrops-top clearfix">
                    <a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Tutorials/CircularNavigation/"><span>Previous Demo</span></a>
                    <span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=16252"><span>Back to the Codrops Article</span></a></span>
                </div>
                <header class="codrops-header">
                    <h1>Multi-Level Push Menu <span>Off-screen navigation with multiple levels</span></h1>
                </header>
                <div class="content clearfix">
                    <div class="block block-40 clearfix">
                        <p><a href="#" id="trigger" class="menu-trigger">Open/Close Menu</a></p>
                        <nav class="codrops-demos">
                            <a href="index.html">Demo 1: Overlapping levels</a>
                            <a class="current-demo" href="index2.html">Demo 2: Covering levels</a>
                            <a href="index3.html">Demo 3: Overlapping levels with back links</a>
                        </nav>
                    </div>
                    <div class="block block-60">
                        <p><strong>Demo 2:</strong> Covering levels with back link</p>
                        <p>This menu will open by pushing the website content to the right. It has multi-level functionality, allowing endless nesting of navigation elements.</p>
                        <p>The next level can optionally overlap or cover the previous one.</p>
                    </div>
                    <div class="info">
                        <p>If you enjoyed this you might also like:</p>
                        <p><a href="http://goo.gl/JLJ4v5">Responsive Multi-Level Menu</a></p>
                        <p><a href="http://goo.gl/qjbq9Y">Google Nexus Website Menu</a></p>
                    </div>
                </div>

                <div class="push"></div>
                <p><a href="http://goo.gl/JLJ4v5">Responsive Multi-Level Menu</a></p>
                <p><a href="http://goo.gl/JLJ4v5">Responsive Multi-Level Menu</a></p><p><a href="http://goo.gl/JLJ4v5">Responsive Multi-Level Menu</a></p>

                {% include 'widgets/footer.twig' %}
            </div><!-- /scroller-inner -->

        </div><!-- /scroller -->

    </div><!-- /pusher -->
</div><!-- /container -->
<script src="/plugins/MultiLevelPushMenu/js/classie.js"></script>
<script src="/plugins/MultiLevelPushMenu/js/mlpushmenu.js"></script>
<script>
    new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ), {
      /*  type : 'cover'*/
    } );
</script>
</body>
</html>