{% extends 'site.twig' %}

{% block content %}

    <div>
        {% include "publications/pubitem.tmpl.twig" %}
    </div>


    <div>
        {{ source("handlebars/pubitem.hbs") }}
    </div>
{% endblock %}